* {
    box-sizing: border-box;
}

.bloco {
    display: grid;
    border-radius: 5px;
    background-color: blue;
    color: white;
    width: 10rem;
    justify-self: center;
}

.bloco h1 {
    margin: 10px;
}

.bloco p {
    margin: 10px;
}

.ativo {
    background-color: red;
    border: 3px solid black;
}

#btn1 {
    margin: 1rem;
}