* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    justify-self: content;
}

.card {
    padding: 20px;
    background-color: lightblue;
    cursor: pointer;
    border-radius: 5px;
}

.ativo {
    background-color: blue;
    color: white;
    transform: scale(1.1);
}


